{% extends'base.html.twig' %}
{% block body %}
    <style>
        #form-wrapper {
            font-family: 'American Typewriter', sans-serif;
            background-color: #448AFF;
        }

        #form-wrapper>form {
            color: #E8EAF6;
        }

        .modal-header, .modal-footer {
            background: linear-gradient(to bottom, #33ccff 0%, #0066ff 100%);
        }
    </style>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <div id="form-wrapper" class="h5 m-auto w-50 p-4 border border-secondary border-5 rounded-3">
        {{ form_start(form) }}
        <div class="mb-4">
            {{ form_row(form.length) }}
        </div>
        <div>
            {{ form_row(form.upperCase) }}
            {{ form_row(form.lowerCase) }}
            {{ form_row(form.numbers) }}
            {{ form_row(form.symbols) }}
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col text-center">
                    {{ form_row(form.generate) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="modal fade show bg-light" id="modalWindow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Your Password</h5>
                    <button type="button" class="btn-close close-button-js" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-between align-items-center">
                    <div id="password" data-password="{{ password }}" class="h5 p-2">
                        {{ password }}
                    </div>
                    <div class="btn-group">
                        <button id="copy-password-btn" class="btn btn-outline-dark">copy</button>
                        <button id="save-password-btn" class="btn btn-outline-primary">save</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-button-js" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('assets/js/all.js') }}"></script>
     <script src="{{ asset('assets/js/password-generator-js.js') }}"></script>
 {% endblock %}
