{% extends'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <div style="margin: auto auto 40px;width: 1000px; background-color: #448AFF; padding: 30px" class="border border-secondary border-5 rounded-3">
        {{ form_start(form) }}
        <div class="mb-4">
            {{ form_row(form.length) }}
        </div>
        <div style="color: #E8EAF6; font-size: 20px; font-family: 'American Typewriter', sans-serif">
            {{ form_row(form.upperCase) }}
            {{ form_row(form.lowerCase) }}
            {{ form_row(form.numbers) }}
            {{ form_row(form.symbols) }}
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col text-center" style="font-family: 'American Typewriter', sans-serif">
                    {{ form_row(form.generate) }}
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <div style="margin: auto; width: 500px; padding: 20px" class="border border-4 border-secondary rounded">
        <h3>Your password:</h3>
        <div>{{ password }}</div>
    </div>
{% endblock %}
