{% extends 'base.html.twig' %}
{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('/assets/css/image-resolver.css') }}">
    {% endblock %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <div id="uploader-form-wrapper" class="h5 m-auto w-50 p-4 border border-secondary border-5 rounded-3">
        {{ form_start(form) }}
            <div class="d-flex justify-content-between align-items-center pb-3">
                <div id="categories-wrapper">
                    {{ form_row(form.categories) }}
                </div>
                <a href="{{ path('imagecategory_new') }}" class="btn btn-secondary btn-lg">Add category</a>
            </div>
            {{ form_row(form.image) }}
            <div class="container">
                <div class="row">
                    <div class="col text-center mt-3">
                        {{ form_row(form.upload) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}