{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/assets/css/image.gallery.css') }}">
{% endblock %}

{% block body %}
    {% set galleryImages = galleryImages.0 %}
    {% if galleryImages is not empty %}
        <div class="text-center">
            <a href="{{ path('imagegallery_delete_all') }}" onclick="return confirm('Sure to delete all images?')" class="btn btn-outline-danger btn-lg mb-3">Remove All</a>
        </div>
    {% endif %}
    <div class="wrapper d-flex justify-content-between">
            {% for image in galleryImages %}
                <div class="content-wrapper p-2">
                    <a href="{{ path('imagegallery_delete', {id: image.id}) }}" onclick="return confirm('Sure to delete this image?')" class="btn btn-danger btn-lg">Remove</a>
                    <img class="image" src="{{ asset(image.path) }}" alt="{{ image.filename }}">
                </div>

            {% endfor %}
    </div>
{% endblock %}