{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3" style="width: 500px; margin: auto">
        {{ form(form) }}
    </div>
    <div class="border border-4 border-secondary rounded-3" style="width: 680px; margin: auto; padding: 20px">
        <h3 style="color: #3D9970">.htaccess</h3>

        <div id="data-access" style="margin-left: -150px">

        {% if form.vars.value.htpasswdPath is not null and basicAuth.userName is not null and basicAuth.password is not null and basicAuth.directoryPath is not null%}

            <pre><code>
                    &lt;directory /{{ basicAuth.directoryPath }}&gt;
                        AuthType Basic
                        AuthName "Secured Area"
                        AuthUserFile/{{ basicAuth.htpasswdPath }}/.htpasswd
                        Require valid-user
                    &lt;/directory&gt;
                </code></pre>

        {% elseif basicAuth.directoryPath  is null %}

            <pre><code>
                    AuthType Basic
                    AuthName "Security Area"
                    AuthUserFile/{{ basicAuth.htpasswdPath }}/.htpasswd
                    Require valid-user
                </code></pre>


        {% endif %}

        </div>

        <button id="copy-accessData-btn" class="btn btn-outline-secondary">copy</button>
        <button id="save-accessData-btn" class="btn btn-outline-primary">save</button>

        <h3 style="margin-top: 25px; color: #3D9970">.htpasswd </h3>

        <div id="data-password" style="margin-left: -120px">
        <pre><code>
                {{ basicAuth.userName }}:{{ basicAuth.password }}
            </code></pre>
        </div>

        <button id="copy-passwordData-btn" class="btn btn-outline-secondary">copy</button>
        <button id="save-passwordData-btn" class="btn btn-outline-primary">save</button>
        <button id="save-allData-btn" class="btn btn-outline-success">save all</button>
    </div>

    <script>
        function copyData(htmlElement)
        {
            navigator.clipboard.writeText(htmlElement.innerText)
            .then(() => {
                window.alert("copied!");
            })
        }

        /*function copyData(htmlElement)
        {
            if(!htmlElement)
            {
                return;
            }

            let dataAccessText = htmlElement.innerText;
            let inputElement = document.createElement('textarea');
            inputElement.innerHTML = dataAccessText;
            document.body.appendChild(inputElement);
            inputElement.select();
            document.execCommand('copy');
            inputElement.parentNode.removeChild(inputElement);
        }*/

        function saveData(htmlElement)
        {
            if(!htmlElement)
            {
                return;
            }

            let blob = new Blob([htmlElement.innerText], {type: "text/plain"});
            let url = window.URL.createObjectURL(blob);
            let link = document.createElement("a");
            link.href = url;
            link.download = htmlElement.getAttribute("id");

            if(!confirm("save?"))
            {
                return;
            }

            link.click();
            window.URL.revokeObjectURL(url);
            document.removeChild(a);

        }

        /*let dataAccessInnerText = document.querySelector("#data-access").innerText;
        let dataPasswordInnerText = document.querySelector("#data-password").innerText;
        console.log(dataAccessInnerText + dataPasswordInnerText);*/

        document.querySelector('#save-allData-btn').onclick = () =>
        {
            let dataAccessInnerText = document.querySelector("#data-access").innerText;
            let dataPasswordInnerText = document.querySelector("#data-password").innerText;
            let allData = dataAccessInnerText + dataPasswordInnerText;
            let inputElement = document.createElement('textarea');
            inputElement.innerHTML = allData;
            document.body.appendChild(inputElement);
            console.log(inputElement);
            saveData(inputElement);
            /*let dataAccess = document.querySelector("#data-access").innerText;
            let dataPassword = document.querySelector("#data-password").innerText;
            let allData = dataAccessInnerText + dataPasswordInnerText;*/

        }

        document.querySelector('#save-allData-btn').onclick = () => {
            let dataAccessInnerText = document.querySelector("#data-access").innerText;
            let dataPasswordElements = document.querySelectorAll("#data-password");
            let dataPasswordInnerText = '';
            //console.log(dataAccessInnerText);

            dataPasswordElements.forEach(dataPasswordElement => {
                    dataPasswordInnerText += dataPasswordElement.firstElementChild.innerText + '\n';
                }
            )
            //console.log(dataPasswordInnerText);
            let allData = dataAccessInnerText + dataPasswordInnerText;
            let div = document.createElement('div');
            div.innerHTML = allData;
            document.body.appendChild(div);

            saveData(div);
        }

        document.querySelector('#copy-accessData-btn').onclick = () =>
        {
            copyData(document.querySelector('#data-access'));
        }

        document.querySelector('#save-accessData-btn').onclick = () =>
        {
            saveData(document.querySelector('#data-access'));
        }

        document.querySelector('#copy-passwordData-btn').onclick = () =>
        {
            copyData(document.querySelector('#data-password'));
        }

        document.querySelector('#save-passwordData-btn').onclick = () =>
        {
            saveData(document.querySelector('#data-password'));
        }

    </script>

{% endblock %}