{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/assets/css/basic-auth.css') }}">
{% endblock %}

{% block body %}
    <div class="h5 w-50 p-3 m-auto border border-success p-5">
        {{ form_start(form) }}
            {{ form_row(form.directoryPath) }}
            {{ form_row(form.htpasswdPath) }}

            <div class="mb-4">
                <ul class="userData list-group" data-index="{{ form.userData|length > 0 ? form.userData|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.userData.vars.prototype)|e('html_attr') }}">
                    {% for data in form.userData %}
                        <li class="d-flex justify-content-between">
                            {{ form_row(data.userName) }}
                            {{ form_row(data.password) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="add_item_link btn btn-outline-success fs-5" data-collection-holder-class="userData">Add User</button>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col text-center">
                        {{ form_row(form.generate) }}
                    </div>
                </div>
            </div>

        {{ form_end(form) }}
    </div>

    <div class="modal fade show" id="modalWindow" tabindex="-1" aria-labelledby="ModalLabel">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Your Data</h5>
                    <button type="button" class="btn-close close-button-js" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body h5">
                    <h4>.htaccess</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div id="data-access" class="p-2">
                            {% if basicAuth.directoryPath is not null%}

                                <pre><code>
                         &lt;directory "/{{ basicAuth.directoryPath }}"&gt;
                            AuthType Basic
                            AuthName "Secured Area"
                            AuthUserFile  "{{ basicAuth.htpasswdPath }}.htpasswd"
                            Require valid-user
                         &lt;/directory&gt;
                        </code></pre>

                            {% else %}

                                <pre><code>
                            AuthType Basic
                            AuthName "Security Area"
                            AuthUserFile "{{ basicAuth.htpasswdPath }}.htpasswd"
                            Require valid-user
                        </code></pre>
                            {% endif %}
                        </div>
                        <div class="btn-group">
                            <button id="copy-accessData-btn" class="btn btn-outline-success">copy</button>
                            <button id="save-accessData-btn" class="btn btn-outline-primary">save</button>
                        </div>
                    </div>
                    <h4>.htpasswd</h4>
                    <div id="user-data" class="mt-4 d-flex justify-content-between align-items-center">
                        <div>
                            {% for data in basicAuth.userData %}
                                <div id="data-password" data-verify-status="{{ verifyStatus }}" class="d-flex justify-content-between align-items-center text-break">
                                    <div class="p-2">
                                        {{ data.userName }}:{{ data.password }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="btn-group">
                            <button id="copy-passwordData-btn" class="btn btn-outline-success">copy</button>
                            <button id="save-passwordData-btn" class="btn btn-outline-primary">save</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeButton" class="btn btn-secondary close-button-js" data-bs-dismiss="modal">Close</button>
                    <button id="save-allData-btn" type="button" class="btn btn-primary">Save all</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('assets/js/all.js') }}"></script>
     <script src="{{ asset('assets/js/basic-auth.js') }}"></script>
 {% endblock %}