{% extends 'base.html.twig' %}
{% block body %}
{#    {{ form(form()) }}#}
    <div style="margin: auto; width: 700px">
        {{ form_start(form) }}
            {{ form_row(form.directoryPath) }}
            {{ form_row(form.htpasswdPath) }}

            {#{{ form_row(form.userData) }}
        {{ form.userData.vars.value[0].userName }}
        {{ dump(form.userData.vars.prototype) }}#}
        {#<ul class="userData">
            {% for data in form.userData %}
                <li>{{ form_row(data.password) }}</li>
            {% endfor %}
        </ul>#}

           <h4>User Data</h4>
        <div style="margin-bottom: 20px">
            <ul class="userData list-group list-group-horizontal" style="list-style: none" data-prototype="{{ form_widget(form.userData.vars.prototype)|e('html_attr') }}">
                {% for data in form.userData %}
                    <li class="flex-fill">{{ form_row(data.userName) }}</li>
                    <li class="flex-fill">{{ form_row(data.password) }}</li>
                {% endfor %}
            </ul>
        </div>
            <button type="button" class="add_item_link" data-collection-holder-class="userData">Add User</button>



        {{ form_row(form.generate) }}
        {{ form_end(form) }}
    </div>
<script>
    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('li');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
    };
    document.querySelectorAll('.add_item_link').forEach(btn => btn.addEventListener("click", addFormToCollection));

    /*function addTagFormDeleteLink(tagFormLi) {
        const removeFormButton = document.createElement('button')
        removeFormButton.classList
        removeFormButton.innerText = 'Delete user'

        tagFormLi.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault()

            tagFormLi.remove();
        });
    }

    const userData = document.querySelectorAll('ul.userData');
    userData.forEach((data) => {
        addTagFormDeleteLink(data)
    })*/

    /*let link = document.querySelectorAll('.add_item_link');
    console.log(link);*/
    /*document.querySelectorAll('.add_item_link').forEach(btn => {btn.addEventListener('click', (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        const item = document.createElement('li');
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
    })});*/
 /*   const tags = document.querySelectorAll('ul.userData')
    tags.forEach((data) => {
        addTagFormDeleteLink(data)
    })

    function addTagFormDeleteLink (tagFormLi) {
        const removeFormButton = document.createElement('button')
        removeFormButton.classList
        removeFormButton.innerText = 'Delete this tag'

        tagFormLi.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault()
            tagFormLi.remove();
        });
    }*/

</script>

{% endblock %}